<header class="site-header">

    <div class="site-header-inner">

        <a
            href="/dashboard/"
            class="site-branding"
        >
    
	<img
        	src="/images/SuffolkGuildLogo.png"
        	alt="Suffolk Guild of Ringers"
        	class="site-logo"
    	>
            <div class="site-branding-text">
                <div class="site-title">
                    Suffolk Guild of Ringers
                </div>

                <div class="site-subtitle">
                    Administration
                </div>
            </div>
        </a>

        <div
            id="signed-in-user"
            class="signed-in-user"
        >
           Not logged in 
        </div>

    </div>

</header>
