<footer class="site-footer">

    <div class="site-footer-inner">

        <div class="footer-actions">

            <button
                id="logout-button"
                type="button"
                class="logout-button"
            >
                Log out
            </button>

        </div>

        <div class="footer-information">

            <div>
                Suffolk Guild of Ringers Administration
            </div>

            <div>
                For authorised Guild administration use only.
            </div>

        </div>

    </div>

</footer>
