{{ define "main" }}

<h1>Create Member</h1>

<div id="create-member-error" hidden></div>

<div id="create-member-page">

    <form id="create-member-form">

        <table class="member-detail-table">

            <tr>
                <th>Last membership number created</th>
                <td>
                    <span id="last-membership-number">
                        Loading...
                    </span>
                </td>
            </tr>

            <tr>
                <th>Membership number</th>
                <td>
                    <input
                        type="text"
                        id="membership_number"
                        name="membership_number"
                        required
                    >
                </td>
            </tr>

            <tr>
                <th>First name</th>
                <td>
                    <input
                        type="text"
                        id="first_name"
                        name="first_name"
                        required
                    >
                </td>
            </tr>

            <tr>
                <th>Surname</th>
                <td>
                    <input
                        type="text"
                        id="surname"
                        name="surname"
                        required
                    >
                </td>
            </tr>

            <tr>
                <th>Tower</th>
                <td>
                    <select
                        id="tower_id"
                        name="tower_id"
                        required
                    >
                        <option value="">Loading...</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>Date of birth</th>
                <td>
                    <input
                        type="date"
                        id="date_of_birth"
                        name="date_of_birth"
                    >
                </td>
            </tr>

            <tr>
                <th>Membership class</th>
                <td>
                    <select
                        id="membership_class_id"
                        name="membership_class_id"
                    >
                        <option value="">Loading...</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>Member type</th>
                <td>
                    <select
                        id="full_member_type_id"
                        name="full_member_type_id"
                        disabled
                    >
                        <option value="">Loading...</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>Membership status</th>
                <td>
                    <select
                        id="membership_status_id"
                        name="membership_status_id"
                    >
                        <option value="">Loading...</option>
                    </select>
                </td>
            </tr>

        </table>

        <p>
            <button
                type="submit"
                id="create-member-button"
                class="btn btn-primary"
            >
                Create member
            </button>

            <a
                href="/members/"
                class="btn btn-secondary"
            >
                Cancel
            </a>
        </p>

    </form>

</div>

<script
    type="module"
    src="/js/create-member.js"
></script>

{{ end }}
