{{ define "main" }}

<div class="container mt-4">

    <h1>
        {{ .Title }}
    </h1>


<div class="list-group">

    <a
        id="full-payment-list-link"
        href="#"
        class="list-group-item list-group-item-action"
    >
        Full payment list
    </a>


    <a
        id="ne-payment-list-link"
        href="#"
        class="list-group-item list-group-item-action"
    >
        NE payment list
    </a>


    <a
        id="nw-payment-list-link"
        href="#"
        class="list-group-item list-group-item-action"
    >
        NW payment list
    </a>


    <a
        id="se-payment-list-link"
        href="#"
        class="list-group-item list-group-item-action"
    >
        SE payment list
    </a>


    <a
        id="sw-payment-list-link"
        href="#"
        class="list-group-item list-group-item-action"
    >
        SW payment list
    </a>

</div>


<script>

    const currentYear =
        new Date().getFullYear();


    const reportLinks = {

        "full-payment-list-link":
            "",

        "ne-payment-list-link":
            "NE",

        "nw-payment-list-link":
            "NW",

        "se-payment-list-link":
            "SE",

        "sw-payment-list-link":
            "SW"

    };


    Object.entries(
        reportLinks
    ).forEach(
        ([id, district]) => {

            const link =
                document.getElementById(
                    id
                );


            if (!link) {

                return;
            }


            let href =
                `/reportspayments/?calendar_year=${currentYear}`;


            if (district) {

                href +=
                    `&district=${district}`;
            }


            link.href =
                href;
        }
    );

</script>


{{ end }}

