<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {{ if .Title }}
            {{ .Title }} -
        {{ end }}
        Suffolk Guild of Ringers Administration
    </title>

    <link
        rel="stylesheet"
        href="/css/main.css"
    >

</head>

<body
    data-protected="{{ if .Params.protected }}true{{ else }}false{{ end }}"
>

    {{ partial "header.html" . }}

    {{ partial "navigation.html" . }}

    <main class="site-main">

        {{ block "main" . }}
        {{ end }}

    </main>

    {{ partial "footer.html" . }}

    <script
        type="module"
        src="/js/site.js"
    ></script>

</body>

</html>
