{{ define "main" }}

<main>
    <h1>Suffolk Guild of Ringers Administration</h1>

    <h2>Dashboard</h2>

    <ul>
        <li>
            <a href="/members/">Members</a>
        </li>

        <li>
            <a href="/members/create/">Create member</a>
        </li>
    </ul>

    <p>
        <button id="logout-button" type="button">
            Sign out
        </button>
    </p>


<script type="module">
    import { signOutRedirect } from "/js/auth.js";

    document
        .getElementById("logout-button")
        .addEventListener("click", signOutRedirect);
</script>

</main>

{{ end }}
