{{ define "main" }}

<h1>Payment Imports</h1>

<div id="payment-imports-error" hidden></div>

<p>
    <button
        type="button"
        id="new-payment-import-button"
        class="btn btn-primary"
    >
        New Import
    </button>

<label class="ms-3">
    <input
        type="checkbox"
        id="show-completed-imports"
    >
    Show completed imports
</label>
</p>

<div class="table-responsive">
<table id="payment-imports" class="table table-striped mb-0">
    <thead>
        <tr>
            <th>Import</th>
            <th>Date</th>
            <th>Created by</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody id="payment-imports-table-body">
        <tr>
            <td colspan="4">
                Loading...
            </td>
        </tr>
    </tbody>
</table>
</div>

<script
    type="module"
    src="/js/payment-imports.js"
></script>

{{ end }}

